.Navbar {
    width: 100%;
    height: 140px;
    background-color: var(--bg-primary-color);
    overflow: hidden;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Navbar a {
    font-size: 1.5rem;
}
.logoNavbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logoNavbar h1 {
   color: var(--button-primary-color);
   font-weight: 600;
   margin: 20px;
}
.logoNavbar img {
    width: 100px;
    height: 100px;
    margin: 20px;
}